*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__logo {
  padding: 30px 0 96px 0;
  z-index: 2;
}

.header__img {
  display: block;
  margin: 0 auto;
}

.header {
  height: 100vh;
  background-color: #181617;
  background-image: url("../images/header-cat.png");
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
}

::-webkit-scrollbar {
  width: 11px;
  background-color: #181617;
}

::-webkit-scrollbar-thumb {
  background-color: #A07B50;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c99b64;
}

.content__city {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #A07B50;
}

.content__title {
  font-size: 52px;
  font-family: "Yeseva One", cursive;
  color: #fff;
  max-width: 469px;
  margin-top: 18px;
}

.content__sub-text {
  width: 338px;
  margin-top: 31px;
}

.sub-text {
  font-size: 16px;
  color: #A07B50;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.content__btn {
  margin-top: 72px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: #1F1C1D;
  color: #fff;
  border: 1px solid #A07B50;
  width: 200px;
  height: 52px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn:hover {
  background-color: #A07B50;
}

.header__images-box {
  float: right;
  margin-top: -496px;
  z-index: 1;
  position: absolute;
  right: 0;
}

.contact__line {
  width: 1px;
  height: 77.5px;
  background-color: #A07B50;
}

.contact__social-networks {
  margin-top: 32px;
}

.container__sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__contact {
  width: 22px;
  margin-left: 78px;
  margin-top: -65px;
}

.network-img {
  margin-bottom: 15px;
}

.network-img:hover svg {
  fill: #fff;
  stroke: #A07B50;
}

.network-link {
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out, fill 0.3s ease-out, stroke 0.3s ease-out;
  transition: background-color 0.3s ease-out, fill 0.3s ease-out, stroke 0.3s ease-out;
}

.network-link:hover svg {
  fill: #ffffff;
  stroke: #A07B50;
}

.network-link:svg {
  fill: #A07B50;
  -webkit-transition: fill 0.4s ease-out, stroke 0.4s ease-out;
  transition: fill 0.4s ease-out, stroke 0.4s ease-out;
}

.contact__line,
.network {
  display: block;
  margin: 0 auto;
}

.main-img {
  width: 1068px;
  height: 712px;
}

.gallery-cat {
  background-color: #1F1C1D;
}

.gallery-cat__title {
  padding: 223px 0 23px 0;
}

.section-title {
  font-size: 36px;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.gallery-cat__sub-text {
  color: #A07B50;
  width: 516px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 38px;
}

.gallery-cat__menu {
  width: 272px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.menu__items-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  list-style-type: none;
}

.item-cat {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-right: 35px;
}

.item-cat:last-child {
  margin-right: 0;
}

.link-cat {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.link-cat:hover {
  color: #fff;
}

.link-cat--active {
  color: #fff;
}

.gallery-cat__container-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (517px)[2];
      grid-template-columns: repeat(2, 517px);
  -ms-grid-rows: (217px)[2];
      grid-template-rows: repeat(2, 217px);
  grid-gap: 30px;
  padding-bottom: 55px;
  width: 1024px;
  margin: 0 auto;
}

.container-images__item {
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.container-images__item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.images__item-img {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.container-images__item:last-child {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-cat__btn-more {
  display: block;
  margin: 0 auto;
}

.breed-features {
  background-color: #1F1C1D;
}

.breed-feature__title {
  padding: 83px 0 23px 0;
}

.breed-features__sub-text {
  width: 735px;
  text-align: center;
  margin: 0 auto;
}

.breed-features__image-circle {
  margin-top: 140px;
}

.image-circle__fill-circle {
  width: 520px;
  height: 520px;
  border-radius: 50%;
  background-color: #151313;
  margin: 0 auto;
  position: relative;
}

.image-circle__border-circle {
  width: 631px;
  height: 631px;
  border-radius: 50%;
  border: 1px solid #A07B50;
  position: absolute;
  margin: -578px 0 0 300px;
}

.image-circle__img-cat {
  margin: -626px 0 0 323px;
  position: absolute;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-image: url("../images/breed-features__img-1.png");
  background-repeat: no-repeat;
  width: 631px;
  height: 737px;
}

.image-circle__img-cat:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.breed-features__list {
  list-style-type: none;
}

.breed-feature__item {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  max-width: 255px;
  height: 43px;
}

.breed-feature__item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7px;
  border-radius: 50%;
  background-color: #A07B50;
}

.breed-feature__item--cohabitation {
  top: -439px;
  left: 62px;
  text-align: right;
}

.breed-feature__item--cohabitation::before {
  right: -35px;
}

.breed-feature__item--instruction {
  top: -379px;
  left: 948px;
  text-align: left;
}

.breed-feature__item--instruction::before {
  top: 2px;
  right: 270px;
}

.breed-feature__item--weight {
  top: -239px;
  left: 40px;
  text-align: right;
}

.breed-feature__item--weight::before {
  top: 1px;
  right: -35px;
}

.breed-feature__item--appearance {
  top: -230px;
  left: 905px;
  text-align: left;
  max-width: 156px;
}

.breed-feature__item--appearance::before {
  top: 2px;
  right: 170px;
}

.why-us {
  background-color: #151313;
}

.why-us__title {
  padding-top: 83px;
}

.why-us__sub-text {
  text-align: center;
  padding: 23px 0 47px 0;
}

.why-us__container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-us__card {
  width: 360px;
  height: 300px;
  background-color: #1F1C1D;
  margin-bottom: 100px;
  cursor: pointer;
}

.why-us__card:last-child {
  margin-right: 0;
}

.card-container {
  width: 320px;
  height: 260px;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin: 21px auto;
  text-decoration: none;
}

.card-container:hover {
  background-color: #A07B50;
}

.card-container:hover #card-logo-svg-1,
.card-container:hover #card-logo-svg-2,
.card-container:hover #card-logo-svg-3 {
  fill: #fff;
}

.card-logo {
  padding: 36px 0 45px 0;
}

.card-logo--2 {
  padding: 37px 0 53px 0;
}

.card-logo__img {
  display: block;
  margin: 0 auto;
}

.card-text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 255px;
  text-align: center;
  margin: 0 auto;
}

.about-caring {
  height: 100vh;
  background-image: url("../images/about-caring__bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-caring__title {
  padding: 84px 0 48px 0;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 43px;
}

.about-caring__card {
  width: 560px;
  height: 165px;
  border: 1px solid #A07B50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.about-caring__card:hover {
  background: rgba(0, 0, 0, 0.4);
}

.about-caring__card:hover .about-caring__box-arrow {
  background: #8a6845;
}

.card__title {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #A07B50;
  margin: 38px 0 0 59px;
}

.card__text {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
  width: 420px;
  margin: 20px 0 0 59px;
}

.about-caring__box-arrow {
  width: 60px;
  height: 165px;
  background-color: #A07B50;
  margin-left: 21px;
  position: relative;
}

.arrow-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.our-team {
  background-color: #151313;
  height: 100vh;
}

.our-team__title {
  padding: 83px 0 23px 0;
}

.our-team_sub-text {
  width: 510px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.our-team__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__item__image {
  position: absolute;
  margin-left: -301px;
}

.slider__item {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 320px;
}

.slider__item__text-box {
  background-color: #1F1C1D;
}

.slider__item__text-box__line {
  padding: 23px 30px;
  border: 1px solid #A07B50;
}

.slick-arrow {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  z-index: 5;
  cursor: pointer;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.slick-next {
  right: -66px;
}

.slick-prev {
  left: -66px;
}

.text-box__title {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #A07B50;
  padding: 69px 0 0 77px;
}

.text-box__sub-text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #A07B50;
  padding: 10px 0 20px 77px;
}

.text-box__text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 668px;
  color: #fff;
  padding: 20px 103px 44px 77px;
}

.slider__contacts {
  padding: 0 103px 80px 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question-answer {
  background-color: #1F1C1D;
}

.question-answer__title {
  padding: 73px 0 23px 0;
}

.question-answer__sub-text {
  text-align: center;
  margin-bottom: 40px;
}

.question-answer__list {
  padding-bottom: 30px;
}

.list__container-box {
  margin-bottom: 30px;
}

.list__container-box:last-child {
  margin-bottom: 0;
}

.list__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #A07B50;
}

.list__container-box--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__container-box--1::before {
  content: "01";
  color: #A07B50;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin: 15px 20px 0 0;
}

.list__container-box--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__container-box--2::before {
  content: "02";
  color: #A07B50;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin: 15px 20px 0 0;
}

.list__container-box--3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__container-box--3::before {
  content: "03";
  color: #A07B50;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin: 15px 20px 0 0;
}

.list__container-box--4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__container-box--4::before {
  content: "04";
  color: #A07B50;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin: 15px 20px 0 0;
}

.item-box__title {
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.item-box__title--1 {
  padding: 48px 544px 48px 30px;
}

.item-box__title--2 {
  padding: 48px 757px 48px 30px;
}

.item-box__title--3 {
  padding: 48px 588px 48px 30px;
}

.item-box__title--4 {
  padding: 48px 624px 48px 30px;
}

.item-box__more-details {
  width: 104px;
  height: 115px;
  border: 1px solid #A07B50;
  position: relative;
  cursor: pointer;
}

.more-details__img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews {
  height: 100vh;
  background-color: #1F1C1D;
}

.reviews__title {
  padding: 14px 0 58px 0;
}

.reviews-slider__item__image {
  position: absolute;
  margin: 27px 0 0 -301px;
}

.slider__item-reviews__text-box {
  background-color: #151313;
  height: 408px;
}

.reviews-text-box__title {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 500;
  padding: 109px 0 20px 145px;
}

.reviews-text-box__text {
  font-size: 14;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 0 0 42px 145px;
  width: 463px;
}

.reviews-slider__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 50px 145px;
}

.contacts__date {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #A07B50;
  padding: 8px 36px 0 0;
}

.reviews-contacts__link {
  border: 1px solid #A07B50;
  padding: 5px;
}

.footer {
  background-color: #151313;
  height: 156px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin-top: 68px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.contacts__link {
  margin-right: 10px;
}

.contacts__link--1 {
  margin-top: 2px;
}

.contacts__link--3 {
  margin-top: -1px;
}

.contacts__link:last-child {
  margin-right: 0;
}

.footer__address {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 76px;
}

.footer__contact-tel {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 77px;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__contact-tel:hover {
  color: #A07B50;
}

@media (max-width: 1296px) {
  .container {
    width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .image-circle__border-circle {
    margin: -578px 0 0 180px;
  }
  .image-circle__img-cat {
    margin: -626px 0 0 201px;
  }
  .breed-feature__item--instruction {
    left: 828px;
  }
  .breed-feature__item--appearance {
    left: 785px;
  }
  .breed-feature__item--cohabitation {
    left: -57px;
  }
  .breed-feature__item--weight {
    left: -80px;
  }
}

@media (max-width: 1234px) {
  .container {
    width: 900px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .container-images__item {
    width: 440px;
  }
  .gallery-cat__container-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (411px)[2];
        grid-template-columns: repeat(2, 411px);
    -ms-grid-rows: (170px)[2];
        grid-template-rows: repeat(2, 170px);
    grid-gap: 30px;
    max-width: 800px;
    margin: 0 auto;
  }
  .images__item-img--1,
  .images__item-img--2 {
    width: 410px;
  }
  .images__item-img--3 {
    width: 357px;
    height: 390px;
  }
  .image-circle__border-circle {
    margin: -578px 0 0 130px;
  }
  .image-circle__img-cat {
    margin: -626px 0 0 148px;
  }
  .breed-feature__item--instruction {
    left: 778px;
  }
  .breed-feature__item--appearance {
    left: 735px;
  }
  .breed-feature__item--cohabitation {
    left: -107px;
  }
  .breed-feature__item--weight {
    left: -130px;
  }
}

@media (max-width: 1176px) {
  .breed-feature__item {
    max-width: 200px;
  }
  .breed-feature__item--instruction {
    left: 778px;
  }
  .breed-feature__item--instruction::before {
    right: 214px;
  }
  .breed-feature__item--appearance {
    left: 738px;
  }
  .breed-feature__item--appearance::before {
    right: 218px;
  }
  .breed-feature__item--cohabitation {
    left: -52px;
  }
  .breed-feature__item--weight {
    left: -75px;
  }
}

@media (max-width: 1130px) {
  .container {
    width: 800px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header__images-box {
    margin-right: -128px;
    overflow: hidden;
  }
  .main-img {
    overflow: hidden;
  }
  .header {
    height: 100vh;
    background-color: #181617;
    background-image: url("../images/header-cat.png");
    background-repeat: no-repeat;
    background-position: right -125px bottom 0;
  }
  .image-circle__border-circle {
    margin: -578px 0 0 83px;
  }
  .image-circle__img-cat {
    margin: -626px 0 0 107px;
  }
  .breed-feature__item--instruction {
    left: 732px;
  }
  .breed-feature__item--appearance {
    left: 693px;
  }
  .breed-feature__item--cohabitation {
    left: -99px;
  }
  .breed-feature__item--weight {
    left: -122px;
  }
}

@media (max-width: 1075px) {
  .breed-feature__item {
    max-width: 162px;
  }
  .breed-feature__item--instruction {
    left: 732px;
  }
  .breed-feature__item--instruction::before {
    left: -30px;
  }
  .breed-feature__item--appearance {
    left: 693px;
  }
  .breed-feature__item--appearance::before {
    left: -34px;
  }
  .breed-feature__item--cohabitation {
    left: -61px;
  }
  .breed-feature__item--weight {
    left: -84px;
  }
}

@media (max-width: 1030px) {
  .container {
    width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .container-images__item {
    width: 440px;
  }
  .gallery-cat__container-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (385px)[2];
        grid-template-columns: repeat(2, 385px);
    -ms-grid-rows: (160px)[2];
        grid-template-rows: repeat(2, 160px);
    grid-gap: 30px;
    max-width: 800px;
    margin: 0 auto;
  }
  .images__item-img--1,
  .images__item-img--2 {
    width: 385px;
  }
  .images__item-img--3 {
    width: 330px;
    height: 367px;
  }
  .image-circle__border-circle {
    margin: -578px 0 0 55px;
  }
  .image-circle__img-cat {
    margin: -626px 0 0 75px;
  }
  .breed-feature__item {
    max-width: 108px;
  }
  .breed-feature__item--instruction {
    left: 703px;
  }
  .breed-feature__item--appearance {
    left: 664px;
  }
  .breed-feature__item--cohabitation {
    left: -56px;
  }
  .breed-feature__item--cohabitation::before {
    left: 149px;
  }
  .breed-feature__item--weight {
    left: -58px;
  }
}

@media (max-width: 982px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
  .contact__line {
    display: none;
  }
  .contact__social-networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .network {
    margin-right: 11px;
  }
  .network--1 {
    margin-top: 2px;
  }
  .network--2 {
    margin: 1px 6px 0 0;
  }
  .header__contact {
    margin-top: 60px;
    margin-left: 41px;
  }
  .container-images__item {
    width: 330px;
  }
  .gallery-cat__container-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (354px)[2];
        grid-template-columns: repeat(2, 354px);
    -ms-grid-rows: (147px)[2];
        grid-template-rows: repeat(2, 147px);
    max-width: 800px;
    margin: 0 0 0 45px;
  }
  .images__item-img--1,
  .images__item-img--2 {
    width: 355px;
  }
  .images__item-img--3 {
    width: 330px;
    height: 367px;
  }
  .image-circle__border-circle {
    margin: -578px 0 0 80px;
  }
  .image-circle__img-cat {
    margin: -626px 0 0 96px;
  }
  .breed-feature__item {
    max-width: 108px;
  }
  .breed-feature__item--instruction {
    left: 728px;
  }
  .breed-feature__item--appearance {
    left: 689px;
  }
  .breed-feature__item--cohabitation {
    left: -32px;
  }
  .breed-feature__item--cohabitation::before {
    left: 149px;
  }
  .breed-feature__item--weight {
    left: -33px;
  }
}

@media (max-width: 900px) {
  .gallery-cat__container-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (354px)[2];
        grid-template-columns: repeat(2, 354px);
    -ms-grid-rows: (147px)[2];
        grid-template-rows: repeat(2, 147px);
    max-width: 715px;
    margin: 0 auto;
  }
  .images__item-img--3 {
    width: 310px;
    height: 342px;
  }
}

@media (max-width: 882px) {
  .image-circle__border-circle {
    margin: -578px 0 0 33px;
  }
  .image-circle__img-cat {
    margin: -626px 0 0 52px;
  }
  .breed-feature__item--instruction {
    left: 672px;
  }
  .breed-feature__item--instruction::before {
    left: -20px;
  }
  .breed-feature__item--appearance {
    left: 643px;
  }
  .breed-feature__item--cohabitation {
    left: -72px;
  }
  .breed-feature__item--cohabitation::before {
    left: 142px;
  }
  .breed-feature__item--weight {
    left: -65px;
  }
  .breed-feature__item--weight::before {
    right: -20px;
  }
}

@media (max-width: 880px) {
  .header {
    background-position: right -200px bottom 0;
  }
  .container {
    width: 700px;
  }
}

@media (max-width: 874px) {
  .image-circle__border-circle {
    margin: -578px 0 0 33px;
  }
  .image-circle__fill-circle {
    width: 348px;
    height: 348px;
  }
  .image-circle__border-circle {
    width: 424px;
    height: 424px;
    border-radius: 50%;
    border: 1px solid #A07B50;
    position: absolute;
    margin: -391px 0 0 133px;
  }
  .image-circle__img-cat {
    background-image: url("../images/breed-features__img-1--middle.png");
    width: 410px;
    height: 610px;
    background-repeat: no-repeat;
    margin: -481px 0 0 147px;
  }
  .breed-feature__item--instruction {
    left: 569px;
    top: -262px;
  }
  .breed-feature__item--appearance {
    left: 541px;
    top: -187px;
  }
  .breed-feature__item--cohabitation {
    left: 9px;
    top: -293px;
  }
  .breed-feature__item--weight {
    left: 23px;
    top: -207px;
  }
}

@media (max-width: 800px) {
  .header {
    background-position: right -260px bottom 0;
  }
  .container {
    width: 700px;
  }
}

@media (max-width: 780px) {
  .breed-features__sub-text {
    width: 524px;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 770px) {
  .container {
    width: 690px;
  }
}

@media (max-width: 760px) {
  .container {
    width: 680px;
  }
  .header {
    background-position: right -270px bottom 0;
  }
}

@media (max-width: 750px) {
  .container {
    width: 670px;
  }
  .header {
    height: 85vh;
    background-image: url("../images/header-cat__middle.png");
    background-position: right -10px bottom 0;
  }
  .header__contact {
    margin-top: 20px;
  }
  .image-circle__border-circle {
    width: 424px;
    height: 424px;
    margin: -391px 0 0 120px;
  }
  .image-circle__img-cat {
    background-image: url("../images/breed-features__img-1--middle.png");
    width: 410px;
    height: 610px;
    background-repeat: no-repeat;
    margin: -481px 0 0 144px;
  }
  .breed-feature__item--instruction {
    left: 556px;
    top: -262px;
  }
  .breed-feature__item--appearance {
    left: 529px;
    top: -187px;
  }
  .breed-feature__item--cohabitation {
    left: -4px;
    top: -293px;
  }
  .breed-feature__item--weight {
    left: 10px;
    top: -207px;
  }
}

@media (max-width: 740px) {
  .container {
    width: 660px;
  }
}

@media (max-width: 730px) {
  .container {
    width: 650px;
  }
  .header {
    background-position: right -50px bottom 0;
  }
  .image-circle__border-circle {
    width: 424px;
    height: 424px;
    margin: -391px 0 0 111px;
  }
  .image-circle__img-cat {
    background-image: url("../images/breed-features__img-1--middle.png");
    width: 410px;
    height: 610px;
    background-repeat: no-repeat;
    margin: -481px 0 0 144px;
  }
  .breed-feature__item--instruction {
    left: 547px;
    top: -262px;
  }
  .breed-feature__item--appearance {
    left: 519px;
    top: -187px;
  }
  .breed-feature__item--cohabitation {
    left: -12px;
    top: -293px;
  }
  .breed-feature__item--weight {
    left: 2px;
    top: -207px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 640px;
  }
  .header {
    background-position: right -80px bottom 0;
  }
}

@media (max-width: 710px) {
  .container {
    width: 620px;
  }
}

@media (max-width: 701px) {
  .image-circle__fill-circle {
    width: 230px;
    height: 230px;
  }
  .image-circle__border-circle {
    width: 280px;
    height: 280px;
    margin: -256px 0 0 163px;
  }
  .image-circle__img-cat {
    background-image: url("../images/breed-features__img-1--mobile.png");
    width: 267px;
    height: 291px;
    margin: -279px 0 0 170px;
  }
  .breed-feature__item--instruction {
    left: 454px;
    top: -195px;
  }
  .breed-feature__item--appearance {
    left: 448px;
    top: -175px;
  }
  .breed-feature__item--cohabitation {
    left: 31px;
    top: -197px;
  }
  .breed-feature__item--weight {
    left: 58px;
    top: -148px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 610px;
  }
}

@media (max-width: 668px) {
  .image-circle__border-circle {
    margin: -256px 0 0 154px;
  }
  .image-circle__img-cat {
    margin: -279px 0 0 170px;
  }
  .breed-feature__item--instruction {
    left: 445px;
  }
  .breed-feature__item--appearance {
    left: 426px;
  }
  .breed-feature__item--appearance::before {
    left: -22px;
  }
  .breed-feature__item--cohabitation {
    left: 37px;
  }
  .breed-feature__item--cohabitation::before {
    left: 127px;
  }
  .breed-feature__item--weight {
    left: 49px;
  }
}

@media (max-width: 680px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 670px) {
  .container {
    width: 590px;
  }
  .header {
    background-position: right -100px bottom 0;
  }
}

@media (max-width: 660px) {
  .container {
    width: 580px;
  }
}

@media (max-width: 650px) {
  .container {
    width: 570px;
  }
  .header {
    background-position: right -120px bottom 0;
  }
  .image-circle__border-circle {
    margin: -256px 0 0 143px;
  }
  .image-circle__img-cat {
    margin: -279px 0 0 154px;
  }
  .breed-feature__item--instruction {
    left: 434px;
  }
  .breed-feature__item--appearance {
    left: 415px;
  }
  .breed-feature__item--cohabitation {
    left: 27px;
  }
  .breed-feature__item--weight {
    left: 38px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 560px;
  }
}

@media (max-width: 630px) {
  .container {
    width: 550px;
  }
  .image-circle__border-circle {
    margin: -256px 0 0 133px;
  }
  .image-circle__img-cat {
    margin: -279px 0 0 141px;
  }
  .breed-feature__item--instruction {
    left: 424px;
  }
  .breed-feature__item--appearance {
    left: 405px;
  }
  .breed-feature__item--cohabitation {
    left: 16px;
  }
  .breed-feature__item--weight {
    left: 27px;
  }
}

@media (max-width: 620px) {
  .container {
    width: 540px;
  }
  .header {
    background-position: right -140px bottom 0;
  }
}

@media (max-width: 610px) {
  .container {
    width: 530px;
  }
  .image-circle__border-circle {
    margin: -256px 0 0 122px;
  }
  .image-circle__img-cat {
    margin: -279px 0 0 133px;
  }
  .breed-feature__item--instruction {
    left: 413px;
  }
  .breed-feature__item--appearance {
    left: 394px;
  }
  .breed-feature__item--cohabitation {
    left: 5px;
  }
  .breed-feature__item--weight {
    left: 16px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 520px;
  }
  .header {
    background-position: right -224px bottom 0;
  }
}

@media (max-width: 590px) {
  .container {
    width: 510px;
  }
  .breed-features__sub-text {
    width: 377px;
    text-align: center;
    margin: 0 auto;
  }
  .image-circle__border-circle {
    margin: -256px 0 0 113px;
  }
  .image-circle__img-cat {
    margin: -279px 0 0 127px;
  }
  .breed-feature__item--instruction {
    left: 404px;
  }
  .breed-feature__item--appearance {
    left: 386px;
  }
  .breed-feature__item--cohabitation {
    left: -3px;
  }
  .breed-feature__item--weight {
    left: 8px;
  }
}

@media (max-width: 580px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 570px) {
  .container {
    width: 450px;
  }
  .image-circle__border-circle {
    margin: -256px 0 0 82px;
  }
  .image-circle__img-cat {
    margin: -279px 0 0 91px;
  }
  .breed-feature__item--instruction {
    left: 373px;
  }
  .breed-feature__item--appearance {
    left: 354px;
  }
  .breed-feature__item--cohabitation {
    left: -34px;
  }
  .breed-feature__item--weight {
    left: -24px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 450px;
  }
  .header {
    height: 120vh;
    background-repeat: no-repeat;
    background-position: right 0 bottom -130px;
  }
  .content__city {
    text-align: center;
  }
  .content__title {
    text-align: center;
  }
  .content__sub-text {
    text-align: center;
    margin: 30px auto;
  }
  .content__btn {
    display: block;
    margin: 40px auto;
  }
  .contact__social-networks {
    display: none;
  }
  .image-circle__border-circle {
    margin: -256px 0 0 82px;
  }
  .image-circle__img-cat {
    margin: -279px 0 0 91px;
  }
  .breed-feature__item--instruction {
    left: 373px;
  }
  .breed-feature__item--appearance {
    left: 354px;
  }
  .breed-feature__item--cohabitation {
    left: -34px;
  }
  .breed-feature__item--weight {
    left: -24px;
  }
}

@media (max-width: 530px) {
  .container {
    width: 440px;
  }
}

@media (max-width: 520px) {
  .container {
    width: 436px;
  }
}

@media (max-width: 517px) {
  .container {
    width: 469px;
    padding: 0;
  }
  .header {
    background-position: right 0 bottom -130px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 390px;
  }
  .content__title {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .content__title {
    width: 386px;
  }
}

@media (max-width: 401px) {
  .content__title {
    width: 358px;
    font-size: 36px;
    padding: 10px;
  }
  .header {
    height: 100vh;
    background-image: url("../images/header-cat__mobail.png");
    background-position: right 0 bottom 0;
  }
  .content__city {
    font-size: 14px;
  }
  .content__sub-text {
    font-size: 14px;
  }
  .content__btn {
    width: 141px;
    height: 40px;
    font-size: 12px;
  }
  .header__logo,
  .header__content {
    max-width: 384px;
  }
}

@media (max-width: 390px) {
  .header__logo,
  .header__content {
    max-width: 380px;
  }
  .container__sub-content {
    display: none;
  }
  .content__title {
    width: 350px;
  }
  .header__logo,
  .header__content,
  .header-container,
  .container {
    max-width: 372px;
  }
}

@media (max-width: 376px) {
  .content__title {
    width: 323px;
  }
  .header__logo,
  .header__content,
  .header-container,
  .container {
    max-width: 349px;
  }
}

@media (max-width: 350px) {
  .header__logo,
  .header__content,
  .header-container,
  .container {
    max-width: 320px;
  }
  .content__title {
    max-width: 309px;
  }
  .content__sub-text {
    max-width: 300px;
  }
}

@media (max-width: 338px) {
  .content__title {
    max-width: 300px;
  }
}

@media (max-width: 321px) {
  .header__logo,
  .header__content,
  .header-container,
  .container {
    max-width: 314px;
  }
  .header__logo {
    padding: 25px 0 40px 0;
  }
  .content__title {
    padding: 5px 8px;
  }
  .content__sub-text {
    margin: 15px auto;
  }
  .content__btn {
    margin: 20px auto;
  }
}

@media (max-width: 317px) {
  .header__logo,
  .header__content,
  .header-container,
  .container {
    max-width: 278px;
  }
  .header {
    background-position: right -40px bottom 0;
  }
  .header__logo {
    padding: 25px 0 40px 0;
  }
  .content__title {
    padding: 5px 8px;
    max-width: 260px;
  }
  .content__sub-text {
    margin: 15px auto;
    max-width: 266px;
  }
}
/*# sourceMappingURL=style.css.map */