$body-color: #1F1C1D;
$gold-color: #A07B50;
$roboto-font: 'Roboto', sans-serif;
$yeseva-one-font: 'Yeseva One', cursive;


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

.container{
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

// header--start

.header__logo{
    padding: 30px 0 96px 0;
    z-index: 2;
}

.header__img{
    display: block;
    margin: 0 auto;
}

.header{
    height: 100vh;
    background-color: #181617;
}

::-webkit-scrollbar{
    width: 11px;
    background-color: #181617;
}

::-webkit-scrollbar-thumb{
    background-color: $gold-color;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #c99b64;
}

.content__city{
    font-size: 16px;
    font-family: $roboto-font;
    font-weight: 400;
    color: $gold-color;
}

.content__title{
    font-size: 52px;
    font-family: $yeseva-one-font;
    color: #fff;
    width: 469px;
    margin-top: 18px;
}

.content__sub-text{
    width: 338px;
    margin-top: 31px;
}

.sub-text{
    font-size: 16px;
    color: $gold-color;
    font-family: $roboto-font;
    font-weight: 400;
}

.content__btn{
    margin-top: 72px;
}

.btn{
    font-family: $roboto-font;
    font-weight: bold;
    cursor: pointer;
    background-color: $body-color;
    color: #fff;
    border: 1px solid $gold-color;
    width: 200px;
    height: 52px;
    transition: all .4s;
    &:hover{
        background-color: $gold-color;
    }
}

.header__images-box{
    float: right;
    margin-top: -496px;
    z-index: 1;
    position: absolute;
    right: 0;
}

.contact__line{
    width: 1px;
    height: 77.5px;
    background-color: $gold-color;
}

.contact__social-networks{
    margin-top: 32px;
}

.container__sub-content{
    display: flex;
    position: relative;
}

.header__contact{
    width: 22px;
    margin-left: 78px;
    margin-top: -65px;
}

.network-img{
    margin-bottom: 15px;
    &:hover svg{
        fill: #fff;
        stroke: $gold-color;
    }
}

.network-link{
    cursor: pointer;
    transition: background-color 0.3s ease-out, fill 0.3s ease-out, stroke 0.3s ease-out;
    &:hover svg{
        fill: #ffffff;
        stroke: $gold-color;
    }
    &:svg{
        fill: $gold-color;
        transition: fill 0.4s ease-out, stroke 0.4s ease-out;
    }
}

.contact__line,
.network{
    display: block;
    margin: 0 auto;
}

.main-img{
    width: 1068px;
    height: 712px;
}

// header--end



// gallery-cat--start

.gallery-cat{
    background-color: $body-color;
}

.gallery-cat__title{
    padding: 223px 0 23px 0;
}

.section-title{
    font-size: 36px;
    font-family: $yeseva-one-font;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.gallery-cat__sub-text{
    color: $gold-color;
    width: 516px;
    font-family: $roboto-font;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 38px;
}

.gallery-cat__menu{
    width: 272px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.menu__items-cat{
    display: flex;
    margin: 0 auto;
    list-style-type: none;
}

.item-cat{
    font-family: $roboto-font;
    font-weight: 500;
    font-size: 18px;
    margin-right: 35px;
    &:last-child{
        margin-right: 0;
    }
}

.link-cat{
    text-decoration: none;
    color: rgba(#fff, .20);
    transition: all .4s;
    &:hover{
        color: #fff;
    }
}

.link-cat--active{
    color: #fff;
}

.gallery-cat__container-images{
    display: grid;
    grid-template-columns: repeat(2, 517px);
    grid-template-rows: repeat(2, 217px);
    grid-gap: 30px;
    padding-bottom: 55px;
    width: 1024px;
    margin: 0 auto;
}

.container-images__item{
    cursor: pointer;
    transition: all .4s;
    &:hover{
        transform: scale(1.03);
    }
}

.images__item-img{
    box-shadow: 0 0 10px rgba(#000, 0.6);
}

.container-images__item:last-child{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery-cat__btn-more{
    display: block;
    margin: 0 auto;
}

// gallery-cat--end


// breed-features--start

.breed-features{
    background-color: $body-color;
}

.breed-feature__title{
    padding: 83px 0 23px 0;
}

.breed-features__sub-text{
    width: 735px;
    text-align: center;
    margin: 0 auto;
}

.breed-features__image-circle{
    margin-top: 140px;
}

.image-circle__fill-circle{
    width: 520px;
    height: 520px;
    border-radius: 50%;
    background-color: #151313;
    margin: 0 auto;
    position: relative;
}

.image-circle__border-circle{
    width: 631px;
    height: 631px;
    border-radius: 50%;
    border: 1px solid $gold-color;
    position: absolute;
    margin: -578px 0 0 300px;
}

.image-circle__img-cat{
    margin: -626px 0 0 323px;
    position: absolute;
    transition: all .4s;
    &:hover{
        transform: scale(1.02);
    }
}

.breed-features__list{
    list-style-type: none;
}

.breed-feature__item{
    color: #fff;
    font-family: $roboto-font;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    max-width: 255px;
    height: 43px;
    &::before{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        top: 7px;
        border-radius: 50%;
        background-color: $gold-color;
    }
}

.breed-feature__item--cohabitation{
    top: -439px;
    left: 62px;
    text-align: right;
    &::before{
        right: -35px;
    }
}

.breed-feature__item--instruction{
    top: -379px;
    left: 948px;
    text-align: left;
    &::before{
        top: 2px;
        right: 270px;
    }
}

.breed-feature__item--weight{
    top: -239px;
    left: 40px;
    text-align: right;
    &::before{
        top: 1px;
        right: -35px;
    }
}

.breed-feature__item--appearance{
    top: -230px;
    left: 905px;
    text-align: left;
    max-width: 156px;
    &::before{
        top: 2px;
        right: 170px;
    }
}

// breed-features--end


// why-us--start

.why-us{
    background-color: #151313;
}

.why-us__title{
    padding-top: 83px;
}

.why-us__sub-text{
    text-align: center;
    padding: 23px 0 47px 0;
}

.why-us__container-box{
    display: flex;
    justify-content: space-between;
}

.why-us__card{
    width: 360px;
    height: 300px;
    background-color: #1F1C1D;
    margin-bottom: 100px;
    cursor: pointer;
    &:last-child{
        margin-right: 0;
    }
}

.card-container{
    width: 320px;
    height: 260px;
    transition: all .4s;
    margin: 21px auto;
    text-decoration: none;
    &:hover{
        background-color: $gold-color;
        #card-logo-svg-1,
        #card-logo-svg-2,
        #card-logo-svg-3{
            fill: #fff;
        }
    }
}

.card-logo{
    padding: 36px 0 45px 0;
}

.card-logo--2{
    padding: 37px 0 53px 0;
}

.card-logo__img{
    display: block;
    margin: 0 auto;
}

.card-text{
    color: #fff;
    font-family: $roboto-font;
    font-weight: 300;
    font-size: 16px;
    width: 255px;
    text-align: center;
    margin: 0 auto;
}

// why-us--end


// about-caring--start

.about-caring{
    height: 100vh;
    background-image: url("../images/about-caring__bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about-caring__title{
    padding: 84px 0 48px 0;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 43px;
}

.about-caring__card{
    width: 560px;
    height: 165px;
    border: 1px solid $gold-color;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    transition: all .4s;
    &:hover{
        background: rgba(#000, 0.4);
        .about-caring__box-arrow{
            background: #8a6845;
        }
    }
}

.card__title{
    font-size: 22px;
    font-family: $roboto-font;
    font-weight: bold;
    color: $gold-color;
    margin: 38px 0 0 59px;
}

.card__text{
    font-size: 14px;
    font-family: $roboto-font;
    font-weight: 300;
    color: #fff;
    width: 420px;
    margin: 20px 0 0 59px;
}

.about-caring__box-arrow{
    width: 60px;
    height: 165px;
    background-color: $gold-color;
    margin-left: 21px;
    position: relative;
}

.arrow-img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

// about-caring--end


// our-team--start

.our-team{
    background-color: #151313;
    height: 100vh;
}

.our-team__title{
    padding: 83px 0 23px 0;
}

.our-team_sub-text{
    width: 510px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

.our-team__slider{
    display: flex;
    justify-content: center;
}

.slider__item__image{
    position: absolute;
    margin-left: -301px;
}

.slider__item{
    width: 700px;
    display: flex;
    position: relative;
    padding-left: 320px;
}

.slider__item__text-box{
    background-color: #1F1C1D;
}

.slider__item__text-box__line{
    padding: 23px 30px;
    border: 1px solid $gold-color;
}

.slick-arrow{
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    z-index: 5;
    cursor: pointer;
    transform: translate(-50%);
}

.slick-next{
    right: -66px;
}

.slick-prev{
    left: -66px;
}

.text-box__title{
    font-size: 24px;
    font-family: $roboto-font;
    font-weight: 500;
    color: $gold-color;
    padding: 69px 0 0 77px;
}

.text-box__sub-text{
    font-size: 16px;
    font-family: $roboto-font;
    font-weight: 400;
    color: $gold-color;
    padding: 10px 0 20px 77px;
}

.text-box__text{
    font-size: 16px;
    font-family: $roboto-font;
    font-weight: 300;
    width: 668px;
    color: #fff;
    padding: 20px 103px 44px 77px;
}

.slider__contacts{
    padding: 0 103px 80px 77px;
    display: flex;
}

// our-team--end


// question-answer--start

.question-answer{
    background-color: $body-color;
}

.question-answer__title{
    padding: 73px 0 23px 0;
}

.question-answer__sub-text{
    text-align: center;
    margin-bottom: 40px;
}

.question-answer__list{
    padding-bottom: 30px;
}

.list__container-box{
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0;
    }
}

.list__item-box{
    display: flex;
    justify-content: space-between;
    border: 1px solid $gold-color;
}

.list__container-box--1{
    display: flex;
    &::before{
        content: "01";
        color: $gold-color;
        font-family: $roboto-font;
        font-weight: bold;
        font-size: 70px;
        margin: 15px 20px 0 0;
    }
}

.list__container-box--2{
    display: flex;
    &::before{
        content: "02";
        color: $gold-color;
        font-family: $roboto-font;
        font-weight: bold;
        font-size: 70px;
        margin: 15px 20px 0 0;
    }
}

.list__container-box--3{
    display: flex;
    &::before{
        content: "03";
        color: $gold-color;
        font-family: $roboto-font;
        font-weight: bold;
        font-size: 70px;
        margin: 15px 20px 0 0;
    }
}

.list__container-box--4{
    display: flex;
    &::before{
        content: "04";
        color: $gold-color;
        font-family: $roboto-font;
        font-weight: bold;
        font-size: 70px;
        margin: 15px 20px 0 0;
    }
}

.item-box__title{
    color: #fff;
    font-size: 16px;
    font-family: $roboto-font;
    font-weight: 500;
}

.item-box__title--1{
    padding: 48px 544px 48px 30px;
}

.item-box__title--2{
    padding: 48px 757px 48px 30px;
}

.item-box__title--3{
    padding: 48px 588px 48px 30px;
}

.item-box__title--4{
    padding: 48px 624px 48px 30px;
}

.item-box__more-details{
    width: 104px;
    height: 115px;
    border: 1px solid $gold-color;
    position: relative;
    cursor: pointer;
}

.more-details__img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

// question-answer--end


// reviews--start

.reviews{
    height: 100vh;
    background-color: $body-color;
}

.reviews__title{
    padding: 14px 0 58px 0;
}

.reviews-slider__item__image{
    position: absolute;
    margin: 27px 0 0 -301px;

}

.slider__item-reviews__text-box{
    background-color: #151313;
    height: 408px;
}

.reviews-text-box__title{
    font-size: 24px;
    font-family: $roboto-font;
    color: #fff;
    font-weight: 500;
    padding: 109px 0 20px 145px;
}

.reviews-text-box__text{
    font-size: 14;
    font-family: $roboto-font;
    font-weight: 300;
    color: #ffffff;
    padding: 0 0 42px 145px;
    width: 463px;
}

.reviews-slider__contacts{
    display: flex;
    padding: 0 0 50px 145px;
}

.contacts__date{
    font-size: 12px;
    font-family: $roboto-font;
    font-weight: 400;
    color: $gold-color;
    padding: 8px 36px 0 0;
}

.reviews-contacts__link{
    border: 1px solid $gold-color;
    padding: 5px;
}

// reviews--end


// footer--start

.footer{
    background-color: #151313;
    height: 156px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    margin-top: 68px;
}

.footer__contacts{
    display: flex;
    margin-top: 80px;
}

.contacts__link{
    margin-right: 10px;
}

.contacts__link--1{
    margin-top: 2px;
}

.contacts__link--3{
    margin-top: -1px;
}

.contacts__link:last-child{
    margin-right: 0;
}

.footer__address{
    color: #fff;
    font-family: $roboto-font;
    font-size: 14px;
    font-weight: 400;
    margin-top: 76px;
}

.footer__contact-tel{
    color: #fff;
    font-family: $roboto-font;
    font-size: 14px;
    font-weight: bold;
    margin-top: 77px;
    text-decoration: none;
    transition: all .4s;
    &:hover{
        color: $gold-color;
    }
}

// footer--end


// Адаптив--start

@media (max-width: 1296px) {
    .container{
        width: 1000px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

@media (max-width: 1234px) {
    .container{
        width: 900px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

@media (max-width: 1130px) {
    .container{
        width: 800px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .header__images-box{
        margin-right: -128px;
    }
}

@media (max-width: 1030px) {
    .container{
        width: 750px;
        padding: 0 15px;
        margin: 0 auto;
    }
    // .main-img{
    //     width: 860px;
    //     height: 714px;
    // }
}

@media (max-width: 982px) {
    .container{
        width: 850px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .main-img{
        width: 860px;
        height: 714px;
    }
}



// Адаптив--end